body {
  background-image: url("background-img.jpg");
}

.brand-name{
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.container-fluid{
  padding: 1% 0% 1%;
}


#title{
  background: #1B2430;
 padding: 0 5% 0 0;
 }
#intro{
  text-align: center;
   margin: 2%;

}

.intro-col{
    margin-bottom: 2%;
}

.intro-col:hover{
  background-color: #EDEDED;
  border: #EDEDED;
  border-width:5px;
  border-style:solid;
}

#about{
  margin: 2% 5% 2% 5%;
  text-align: center;
  padding: 3% 5% 2%;
  background-color: #E7F6F2;
  font-family: "McLaren", cursive;
}



@media (max-width:1020px) {
  .intro-col{
    margin: 5% 0 5%;
  }
}

#footer{
  text-align: center;
  padding: 2% 0 1% 0;
  background-color: #E7F6F2;
  margin:2% 0 0;
}

.media-icons {
  margin:1%;
}
